{{!-- 導覽列 --}}
<nav class="navbar">
  <a class="navbar-brand" href="/">
    <i class="navbar-home fas fa-home"></i>
  </a>
  <h3 class="navbar-title">詳細內容</h3>
</nav>

{{!-- 項目表單 --}}
<div class="container">
  <form action="/split-bills/{{ bill._id }}?_method=PUT" method="POST">
    <div class="item-text mb-3 row">
      <i class="icon fas fa-calendar-alt col-sm-1"></i>
      <label for="itemDate" class="col-sm-2 col-form-label">日期</label>
      <div class="col-sm-9">
        <input type="date" class="form-control-plaintext" id="itemDate" name="itemDate" placeholder="請輸入日期"
          value="{{bill.itemDate}}" required>
      </div>
    </div>

    <div class="item-text mb-3 row">
      <i class="icon fas fa-tag col-sm-1"></i>
      <label for="itemName" class="col-sm-2 col-form-label">項目</label>
      <div class="col-sm-9">
        <input type="text" class="form-control-plaintext" id="itemName" name="itemName" placeholder="請輸入項目"
          value="{{bill.itemName}}" required>
      </div>
    </div>

    <div class="item-text row">
      <i class="icon fas fa-dollar-sign col-sm-1"></i>
      <label for="itemPrice" class="col-sm-2 col-form-label">金額</label>
      <div class="col-sm-9">
        <input type="number" class="form-control-plaintext" id="itemPrice" name="itemPrice" placeholder="請輸入金額" min="0"
          value="{{bill.itemPrice}}" required>
      </div>
    </div>


    {{!-- <div class="person-box">
      <h5 class="my-3">誰付錢</h5>
      <div class="check-box">
        {{#each members}}
        <input type="checkbox" class="btn-check" id="paidMember{{this._id}}" name="paidMember" autocomplete="off"
          value="{{this.memberName}}">
        <label class="btn btn-outline-primary item-member" for="paidMember{{this._id}}">{{this.memberName}}</label>
        {{/each}}
      </div>
    </div>

    <div class="person-box">
      <h5 class="my-3">分給誰</h5>
      <div class="check-box">
        {{#each members}}
        <input type="checkbox" class="btn-check" id="toPaidMember{{this._id}}" name="toPaidMember" autocomplete="off"
          value="{{this.memberName}}">
        <label class="btn btn-outline-primary item-member" for="toPaidMember{{this._id}}">{{this.memberName}}</label>
        {{/each}}
      </div>
    </div> --}}


    <div class="person-box-wrapper">
      <div class="person-box">
        <h5 class="my-2">誰付錢</h5>
        <p class="money">剩餘 {{bill.itemPrice}}元/ {{bill.itemPrice}} 元</p>
        <div class="detail-check-box">
          <div class="detail-member-box">
            {{#each member}}
            <label for="paidMember{{this._id}}" class="form-label detail-member">{{this}}</label>
            {{/each}}
          </div>

          <div class="detail-price-box">
            {{#each paidPrice}}
            <input type="number" class="form-control detail-Price" id="paidMember{{this._id}}" name="paidPrice"
              value="{{this}}" min="0">
            {{/each}}
          </div>
        </div>
      </div>

      <div class="person-box">
        <h5 class="my-2">分給誰</h5>
        <p class="money">剩餘 {{bill.itemPrice}}元/ {{bill.itemPrice}} 元</p>
        <div class="detail-check-box">
          <div class="detail-member-box">
            {{#each member}}
            <label for="paidMember{{this._id}}" class="form-label detail-member">{{this}}</label>
            {{/each}}
          </div>

          <div class="detail-price-box">
            {{#each toPaidPrice}}
            <input type="number" class="form-control detail-Price" id="toPaidPrice{{this._id}}" name="toPaidPrice"
              value="{{this}}" min="0">
            {{/each}}
          </div>
        </div>

        {{!-- {{#each bill}}
        <div class="check-box">

          <label for="toPaidMember{{this._id}}" class="form-label item-member">{{this.paidMember}}</label>
          <input type="number" class="form-control toPaidPrice" id="toPaidMember{{this._id}}" name="toPaidPrice"
            value="{{this.toPaidList}}" min="0">
        </div>
        {{/each}} --}}
      </div>
    </div>

    <div class="member-delete col-3 mb-3">
      <div class="new-btn d-flex justify-content-center">
        <button type="submit" class="btn-add shared-btn btn-sm">完成</button>
      </div>
    </div>
  </form>

  <div class="member-delete col-3 mb-3">
    <form action="./{{ bill._id }}?_method=DELETE" method="POST">
      <button class="btn-delete shared-btn btn-sm" type="submit">刪除</button>
    </form>
  </div>
</div>