{{!-- 導覽列 --}}
<nav class="navbar">
  <a class="navbar-brand" href="/">
    <i class="navbar-home fas fa-home"></i>
  </a>
  <h3 class="navbar-title">分帳工具</h3>
</nav>

{{!-- 主視覺 --}}
<section id="action" class="action">
  <div class="banner"></div>
  <div class="banner-btn d-flex">
    <div class="member d-flex justify-content-center">
      <a href="./split-bills/member" class="shared-btn btn-sm" role="button">成員</a>
    </div>
    <div class="balance d-flex justify-content-center">
      <a href="./balance" class="shared-btn btn-sm" role="button">結餘</a>
    </div>
  </div>
</section>

{{!-- 所有帳目 --}}
<div class="list">
  <div class="index-container">

    {{#each bills}}
    <h5 class="row date">{{ this.itemDate }}</h5>
    <div class="bill">
      <a href="./split-bills/{{ this._id }}" class="bill-id">
        <div class="row">
          <div class="bill-icon col-2">
            <i class=" fas fa-money-bill-alt"></i>
          </div>
          <div class="bill-info col-6">
            <h5 class="bill-name">{{ this.itemName }}</h5>
            <p class="bill-paid">{{ this.paidMember }} 先付</p>
          </div>
          <h5 class="bill-toPaid col-4">NT$ {{ this.itemPrice }}</h5>
        </div>
      </a>
    </div>
    {{/each}}

  </div>
</div>

<div class="new-btn d-flex justify-content-center">
  <a href="./split-bills/new" class="shared-btn btn-sm" role="button">
    <i class="fas fa-plus"></i>
  </a>
</div>