{{!-- 導覽列 --}}
<nav class="navbar">
  <a class="navbar-brand" href="/">
    <i class="navbar-home fas fa-home"></i>
  </a>
  <h3 class="navbar-title">新增項目</h3>
</nav>

{{!-- 項目表單 --}}
<div class="container">
  <form action="/split-bills" method="POST">
    <div class="item-text mb-3 row">
      <i class="icon fas fa-calendar-alt col-sm-1"></i>
      <label for="itemDate" class="col-sm-2 col-form-label">日期</label>
      <div class="col-sm-9">
        <input type="date" class="form-control-plaintext" id="itemDate" name="itemDate" placeholder="請輸入日期" required>
      </div>
    </div>

    <div class="item-text mb-3 row">
      <i class="icon fas fa-tag col-sm-1"></i>
      <label for="itemName" class="col-sm-2 col-form-label">項目</label>
      <div class="col-sm-9">
        <input type="text" class="form-control-plaintext" id="itemName" name="itemName" placeholder="請輸入項目" required>
      </div>
    </div>

    <div class="item-text row">
      <i class="icon fas fa-dollar-sign col-sm-1"></i>
      <label for="itemPrice" class="col-sm-2 col-form-label">金額</label>
      <div class="col-sm-9">
        <input type="number" class="form-control-plaintext" id="itemPrice" name="itemPrice" placeholder="請輸入金額" min="0"
          required>
      </div>
    </div>

    <div class="person-box-wrapper">
      <div class="person-box">
        <h5 class="my-2">誰付錢</h5>
        <span class="money">剩餘 {{itemPrice}}元/ 元</span>
        {{#each members}}
        <div class="check-box">
          {{!-- <input type="checkbox" class="btn-check" id="paidMember{{this._id}}" name="paidMember"
            autocomplete="off" value="{{this.memberName}}"> --}}

          {{!--<label class="btn btn-outline-primary item-member"
            for="paidMember{{this._id}}">{{this.memberName}}</label>
          --}}


          <label for="paidMember{{this._id}}" class="form-label item-member">{{this.memberName}}</label>
          <input type="number" class="form-control paidPrice" id="paidMember{{this._id}}" name="paidPrice" value="0"
            min="0">
        </div>
        {{/each}}
      </div>

      <div class="person-box">
        <h5 class="my-2">分給誰</h5>
        <span class="money">剩餘 {{itemPrice}}元/ 元</span>
        {{#each members}}
        <div class="check-box">
          {{!-- <input type="checkbox" class="btn-check" id="toPaidMember{{this._id}}" name="toPaidMember"
            autocomplete="off" value="{{this.memberName}}">

          <label class="btn btn-outline-primary item-member" for="toPaidMember{{this._id}}">{{this.memberName}}</label>
          --}}

          <label for="toPaidMember{{this._id}}" class="form-label item-member">{{this.memberName}}</label>
          <input type="number" class="form-control toPaidPrice" id="toPaidMember{{this._id}}" name="toPaidPrice"
            value="0" min="0">
        </div>
        {{/each}}
      </div>
    </div>

    <div class="member-delete col-3 mb-3">
      <div class="new-btn d-flex justify-content-center">
        <button type="submit" class="btn-add shared-btn btn-sm">新增</button>
      </div>
    </div>
  </form>
</div>
